:root {
	--slidev-code-font-size: 18px;
}

.slidev-layout {
	p {
		font-size: 1.5rem;
	}

	strong {
		color: #ff4081;
	}

	.col-left {
		padding-right: 1rem;
	}

	.col-right {
		padding-left: 1rem;
	}
}
